workflows/ingestion-real.json
{
  "name": "Document Ingestion Workflow (Traitement Réel)",
  "nodes": [
    {
      "parameters": {
        "path": "upload",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true,
          "bodyContentType": "multipart-form-data"
        },
        "httpMethod": "POST"
      },
      "name": "Document Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "upload"
    },
    {
      "parameters": {
        "jsCode": "// Traitement du fichier PDF téléversé\ntry {\n  // Vérification que nous avons bien reçu un fichier binaire\n  if (!$input.item.binary) {\n    throw new Error('Aucune donnée binaire reçue');\n  }\n  \n  // Déterminer la clé de propriété binaire (généralement 'data' pour un formulaire multipart)\n  const binaryPropertyName = Object.keys($input.item.binary)[0];\n  if (!binaryPropertyName) {\n    throw new Error('Aucune propriété binaire trouvée');\n  }\n  \n  // Extraire les informations du fichier\n  const fileData = $input.item.binary[binaryPropertyName];\n  \n  // Validation du type de fichier\n  if (fileData.mimeType !== 'application/pdf') {\n    throw new Error('Le fichier doit être au format PDF');\n  }\n  \n  // Extraire les métadonnées du fichier\n  const fileName = fileData.fileName || 'document.pdf';\n  const fileSize = fileData.fileSize || 0;\n  \n  // Déterminer si c'est un gros fichier (> 25 Mo)\n  const isLargeFile = fileSize > 25 * 1024 * 1024;\n  \n  console.log(`Traitement du fichier: ${fileName}, Taille: ${fileSize}, Est volumineux: ${isLargeFile}`);\n  console.log(`Propriété binaire: ${binaryPropertyName}`);\n  console.log(\"Détails du fichier:\", JSON.stringify(fileData, null, 2));\n  \n  // Retourner les informations nécessaires pour les étapes suivantes\n  return {\n    fileName,\n    fileSize,\n    isLargeFile,\n    mimeType: fileData.mimeType,\n    uploadTime: new Date().toISOString(),\n    binaryPropertyName: binaryPropertyName,\n    // Dupliquer la propriété binaire pour les tests avec différents noms\n    binary: {\n      [binaryPropertyName]: fileData\n    }\n  };\n} catch (error) {\n  console.error('Erreur lors du traitement du fichier:', error.message);\n  return {\n    success: false,\n    error: error.message,\n    status: 400\n  };\n}"
      },
      "name": "Validate & Prepare File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.isLargeFile }}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Large File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://technicia-document-processor:8000/process-large-file",
        "method": "POST",
        "sendBinaryData": true,
        "binaryPropertyName": "={{ $json.binaryPropertyName }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 180000
        }
      },
      "name": "Process Large File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        900,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Copier le fichier vers une nouvelle propriété binaire nommée \"file\"\nconst result = $input.item.json;\nconst binaryData = $input.item.binary;\n\nif (!binaryData) {\n  throw new Error('Aucune donnée binaire disponible');\n}\n\nconst sourceProp = result.binaryPropertyName;\nif (!binaryData[sourceProp]) {\n  throw new Error(`Propriété binaire ${sourceProp} non trouvée`);\n}\n\n// Copier la propriété binaire avec le nom \"file\"\nconst newBinaryData = {\n  file: binaryData[sourceProp]\n};\n\nreturn {\n  ...result,\n  json: {\n    ...result\n  },\n  binary: newBinaryData\n};"
      },
      "name": "Prepare Binary Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://technicia-document-processor:8000/debug-upload",
        "method": "POST",
        "sendBinaryData": true,
        "binaryPropertyName": "file",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 60000
        }
      },
      "name": "Method 1: Binary Property",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1040,
        240
      ]
    },
    {
      "parameters": {
        "url": "http://technicia-document-processor:8000/process-file",
        "method": "POST",
        "authentication": "none",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $binary.file.fileName }}",
              "parameterType": "string"
            },
            {
              "name": "content",
              "value": "={{ $binary.file.data }}",
              "parameterType": "formBinaryData"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 60000
        }
      },
      "name": "Method 2: Form Parameters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1040,
        360
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://technicia-document-processor:8000/process",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "={{ $binary.file.data }}"
            }
          ]
        }
      },
      "name": "Method 3: HTTP node",
      "type": "n8n-nodes-base.http",
      "typeVersion": 1,
      "position": [
        1040,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Exécuter une requête HTTP directement avec Fetch API pour avoir un contrôle total\nconst input = $input.item;\nconst binaryData = input.binary.file;\n\nif (!binaryData || !binaryData.data) {\n  throw new Error('Données binaires invalides ou manquantes');\n}\n\nasync function makeRequest() {\n  try {\n    // Créer un FormData\n    const formData = new FormData();\n    \n    // Créer un Blob à partir des données binaires\n    const base64Data = binaryData.data;\n    // Extraire le contenu réel (sans le préfixe data:...;base64,)\n    const matches = base64Data.match(/^data:(.+);base64,(.*)$/);\n    let binaryString;\n    \n    if (matches && matches.length === 3) {\n      // Le format est correct avec un préfixe\n      binaryString = atob(matches[2]);\n    } else {\n      // Format direct en base64\n      binaryString = atob(base64Data);\n    }\n    \n    // Convertir la chaîne binaire en tableau d'octets\n    const bytes = new Uint8Array(binaryString.length);\n    for (let i = 0; i < binaryString.length; i++) {\n      bytes[i] = binaryString.charCodeAt(i);\n    }\n    \n    // Créer un Blob\n    const blob = new Blob([bytes], { type: binaryData.mimeType });\n    \n    // Ajouter le fichier au FormData\n    formData.append('file', blob, binaryData.fileName);\n    \n    // Faire la requête\n    const response = await fetch('http://technicia-document-processor:8000/process', {\n      method: 'POST',\n      body: formData\n    });\n    \n    // Traiter la réponse\n    if (!response.ok) {\n      throw new Error(`Erreur HTTP: ${response.status} - ${await response.text()}`);\n    }\n    \n    const result = await response.json();\n    return { success: true, result };\n  } catch (error) {\n    console.error('Erreur lors de la requête fetch:', error.message);\n    return { \n      success: false, \n      error: error.message \n    };\n  }\n}\n\n// Cette approche n'est pas supportée actuellement car Fetch API n'est pas disponible dans l'environnement n8n\nreturn {\n  method: \"custom_fetch\",\n  error: \"Cette méthode n'est pas supportée dans l'environnement actuel de n8n\",\n  fileName: binaryData.fileName,\n  mimeType: binaryData.mimeType,\n  dataSize: binaryData.data ? binaryData.data.length : 0\n};"
      },
      "name": "Method 4: Custom (not working)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1040,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "name": "Select Working Method",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1260,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Analyse les résultats des différentes méthodes d'upload\nconst methods = [\n  $node[\"Method 1: Binary Property\"].json,\n  $node[\"Method 2: Form Parameters\"].json,\n  $node[\"Method 3: HTTP node\"].json,\n  $node[\"Method 4: Custom (not working)\"].json\n];\n\nconsole.log(\"Résultats des différentes méthodes d'upload:\", JSON.stringify(methods, null, 2));\n\n// Vérifier quelles méthodes ont fonctionné\nconst workingMethods = methods.filter(method => {\n  // Si le résultat contient document_id, c'est probablement un succès\n  return method && (method.document_id || (method.result && method.result.document_id));\n});\n\nconsole.log(`${workingMethods.length} méthodes ont fonctionné.`);\n\n// Sélectionner la première méthode qui fonctionne ou la méthode 1 par défaut\nlet selectedMethod = workingMethods[0] || methods[0];\n\n// Normaliser le résultat pour qu'il ait un format cohérent\nif (selectedMethod.result && selectedMethod.result.document_id) {\n  selectedMethod = selectedMethod.result;\n}\n\nreturn {\n  ...selectedMethod,\n  workingMethodsCount: workingMethods.length,\n  methodsDetails: methods.map((m, i) => ({\n    method: i + 1,\n    success: !!(m && (m.document_id || (m.result && m.result.document_id))),\n    error: m && m.error ? m.error : null\n  }))\n};"
      },
      "name": "Analyze Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1440,
        360
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "name": "Wait 3 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1140,
        40
      ],
      "webhookId": "wait-for-processing"
    },
    {
      "parameters": {
        "url": "http://technicia-document-processor:8000/task/{{ $json.task_id }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000
        }
      },
      "name": "Check Processing Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1140,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "notEqual",
              "value2": "completed"
            }
          ]
        }
      },
      "name": "Still Processing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1360,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Préparation des données extraites pour les étapes suivantes\nlet resultData = $input.item.json;\nlet documentId = '';\nlet documentData = {};\n\n// Afficher les données reçues pour le débogage\nconsole.log('Données reçues:', JSON.stringify(resultData, null, 2));\n\n// Déterminer le type de résultat (asynchrone ou synchrone)\nif (resultData.task_id) {\n  // Résultat asynchrone (gros fichier)\n  documentId = resultData.task_id;\n  documentData = resultData.result || {};\n} else if (resultData.document_id) {\n  // Résultat synchrone (fichier standard)\n  documentId = resultData.document_id;\n  documentData = resultData; // Le résultat est directement la structure de données\n} else {\n  // Format inconnu, tenter de récupérer ce qu'on peut\n  documentId = `doc-${Date.now()}`;\n  documentData = resultData;\n}\n\n// Extraire les images du document\nlet extractedImages = [];\n\n// Parcourir les pages pour extraire les images si elles existent\nif (documentData.pages && Array.isArray(documentData.pages)) {\n  for (const page of documentData.pages) {\n    if (page.images && Array.isArray(page.images)) {\n      extractedImages = extractedImages.concat(\n        page.images.map(img => ({\n          ...img,\n          page_number: page.page_number\n        }))\n      );\n    }\n  }\n}\n\n// Images indépendantes si elles existent\nif (documentData.images && Array.isArray(documentData.images)) {\n  extractedImages = extractedImages.concat(documentData.images);\n}\n\n// Sortie avec les images extraites et les données du document\nreturn {\n  document_id: documentId,\n  extracted_images: extractedImages,\n  document_data: documentData\n};"
      },
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1620,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simuler l'extraction des images pour les tests\n// Dans un cas réel, cela serait fait par l'analyse du document\n\nconst data = $input.item.json;\nconst documentId = data.document_id;\n\n// Créer des images simulées pour les tests\nconst simulatedImages = [];\nfor (let i = 1; i <= 3; i++) {\n  simulatedImages.push({\n    id: `img-${i}`,\n    path: `/tmp/simulated_image_${i}.png`,\n    page_number: i,\n    is_technical_diagram: true,\n    schema_type: \"electrical\",\n    confidence: 0.85,\n    detected_text: \"Exemple de texte détecté dans l'image\"\n  });\n}\n\nreturn {\n  document_id: documentId,\n  document_data: data.document_data || {},\n  classified_images: simulatedImages\n};"
      },
      "name": "Prepare Images for Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1800,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Préparer les données pour vectorisation\nconst data = $input.item.json;\nconst documentId = data.document_id;\nconst classifiedImages = data.classified_images || [];\n\n// Simuler des chunks de texte pour les tests\nconst simulatedTextChunks = [];\nfor (let i = 1; i <= 5; i++) {\n  simulatedTextChunks.push({\n    text: `Contenu extrait du document pour la vectorisation - chunk ${i}.`,\n    page_number: Math.ceil(i / 2),\n    document_id: documentId\n  });\n}\n\n// Préparer les images pour la vectorisation\nconst images = classifiedImages\n  .filter(img => img.is_technical_diagram)\n  .map(img => ({\n    image_path: img.path,\n    page_number: img.page_number,\n    schema_type: img.schema_type,\n    detected_text: img.detected_text || '',\n    document_id: documentId\n  }));\n\nconsole.log(`Préparation vectorisation: ${simulatedTextChunks.length} chunks de texte, ${images.length} images`);\n\nreturn {\n  document_id: documentId,\n  text_chunks: simulatedTextChunks,\n  images: images,\n  processed_time: new Date().toISOString()\n};"
      },
      "name": "Process Data for Vectorization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1970,
        360
      ]
    },
    {
      "parameters": {
        "content": "={{ \n  JSON.stringify({\n    \"success\": true,\n    \"document_id\": $node[\"Process Data for Vectorization\"].json.document_id,\n    \"message\": \"Document traité avec succès\",\n    \"stats\": {\n      \"text_chunks_processed\": $node[\"Process Data for Vectorization\"].json.text_chunks.length,\n      \"images_processed\": $node[\"Process Data for Vectorization\"].json.images.length,\n      \"processing_time\": new Date().toISOString(),\n      \"upload_methods\": $node[\"Analyze Results\"].json.methodsDetails\n    }\n  }, null, 2)\n}}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2130,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Gestionnaire d'erreurs centralisé\ntry {\n  const errorData = $input.item.json;\n  \n  // Analyser l'erreur\n  let errorMessage = \"Une erreur inconnue est survenue\";\n  let errorSource = \"unknown\";\n  let errorCode = 500;\n  \n  if (errorData.error) {\n    errorMessage = errorData.error;\n  }\n  \n  if (errorData.detail) {\n    errorMessage = errorData.detail;\n  }\n  \n  if (errorData.status) {\n    errorCode = errorData.status;\n  }\n  \n  if (errorData.message) {\n    errorMessage = errorData.message;\n  }\n  \n  // Déterminer la source de l'erreur\n  if (errorData.source) {\n    errorSource = errorData.source;\n  } else if ($input.item.node) {\n    errorSource = $input.item.node;\n  }\n  \n  // Logger l'erreur pour le débogage\n  console.error(`Error in workflow: ${errorSource} - ${errorMessage} (${errorCode})`);\n  \n  return {\n    success: false,\n    timestamp: new Date().toISOString(),\n    error: {\n      message: errorMessage,\n      source: errorSource,\n      code: errorCode\n    }\n  };\n} catch (e) {\n  return {\n    success: false,\n    error: \"Erreur dans le gestionnaire d'erreurs: \" + e.message\n  };\n}"
      },
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2060,
        520
      ]
    }
  ],
  "connections": {
    "Document Upload Webhook": {
      "main": [
        [
          {
            "node": "Validate & Prepare File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare File": {
      "main": [
        [
          {
            "node": "Large File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Large File?": {
      "main": [
        [
          {
            "node": "Process Large File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Large File": {
      "main": [
        [
          {
            "node": "Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Binary Data": {
      "main": [
        [
          {
            "node": "Method 1: Binary Property",
            "type": "main",
            "index": 0
          },
          {
            "node": "Method 2: Form Parameters",
            "type": "main",
            "index": 0
          },
          {
            "node": "Method 3: HTTP node",
            "type": "main",
            "index": 0
          },
          {
            "node": "Method 4: Custom (not working)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Method 1: Binary Property": {
      "main": [
        [
          {
            "node": "Select Working Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Method 2: Form Parameters": {
      "main": [
        [
          {
            "node": "Select Working Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Method 3: HTTP node": {
      "main": [
        [
          {
            "node": "Select Working Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Method 4: Custom (not working)": {
      "main": [
        [
          {
            "node": "Select Working Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Working Method": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Results": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Seconds": {
      "main": [
        [
          {
            "node": "Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Processing Status": {
      "main": [
        [
          {
            "node": "Still Processing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Processing?": {
      "main": [
        [
          {
            "node": "Wait 3 Seconds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Prepare Images for Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Images for Classification": {
      "main": [
        [
          {
            "node": "Process Data for Vectorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data for Vectorization": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}