workflows/test-upload.json
{
  "name": "Test Upload Simple",
  "nodes": [
    {
      "parameters": {
        "path": "test-upload",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true,
          "bodyContentType": "multipart-form-data"
        },
        "httpMethod": "POST"
      },
      "name": "Document Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "test-upload"
    },
    {
      "parameters": {
        "jsCode": "// Extraction des informations du fichier\nconst binaryPropertyName = Object.keys($input.item.binary)[0];\nconst fileData = $input.item.binary[binaryPropertyName];\n\nconst fileName = fileData.fileName || 'document.pdf';\nconst fileSize = fileData.fileSize || 0;\n\nconsole.log(`Fichier reçu: ${fileName}, Taille: ${fileSize}, Propriété: ${binaryPropertyName}`);\n\nreturn {\n  fileName,\n  fileSize,\n  mimeType: fileData.mimeType,\n  binaryPropertyName: binaryPropertyName,\n  uploadTime: new Date().toISOString()\n};"
      },
      "name": "Extract File Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://technicia-document-processor:8000/debug-upload",
        "method": "POST",
        "sendBinaryData": true,
        "binaryPropertyName": "={{ $json.binaryPropertyName }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000
        }
      },
      "name": "Debug Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "content": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "Document Upload Webhook": {
      "main": [
        [
          {
            "node": "Extract File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Info": {
      "main": [
        [
          {
            "node": "Debug Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Upload": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
